@use "vars/colors";
@use "vars/display";
@use "mixins";
.layout {
  display: display.$display-flex;
  flex-direction: column;
  &__content {
    flex: 1;
  }
}

.main-menu {
  position: sticky;
  top: 0;
  z-index: 1000;
  width: 100%;
  background-color: colors.$color-surface-primary;
}
.menu-toggle {
  display: none;
}

.nav {
  display: display.$display-flex;
  color: colors.$color-text-primary;
  @include mixins.navigation;
  &__item {
    cursor: pointer;
    font-size: 1rem;
  }
  &__item:hover {
    color: colors.$color-text-secondary;
  }
  &__item-active {
    color: colors.$color-text-accent;
    cursor: default;
  }
}

.hamburger {
  display: none;
  flex-direction: column;
  gap: 6px;
  cursor: pointer;
}

.hamburger span {
  width: 28px;
  height: 3px;
  background: colors.$colors-hamburger;
  transition: 0.3s ease;
}

