@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

html,
body {
  margin: 0;
  font-family: "Roboto";
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.layout {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.layout__content {
  flex: 1;
}

.content {
  max-width: 1100px;
  margin: 0 auto;
}

.about {
  background-color: rgb(255, 255, 255);
}

.about__title {
  font-size: 32px;
  font-weight: 500;
  color: #000000;
}

.about__paragraph {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.64;
  color: #727272;
}

.about__container {
  max-width: 540px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;
  padding-bottom: 100px;
  text-align: center;
  gap: 50px;
}

.footer {
  background-color: #34547a;
  color: #ffffff;
}

.footer__content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.footer__name {
  font-size: 21px;
  font-weight: 500;
}

.footer__copyright {
  font-size: 13px;
  font-weight: 400;
  line-height: 1.64;
}
